.rt-tab {
    &__item {
        display: none;
        &.is-active {
            display: block;
        }
    }
    &__nav {
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        li {
            &:first-child {
                .rt-tab__title {
                    border-top-left-radius: $border-radius;
                }
            }
            &:last-child {
                .rt-tab__title {
                    border-right: 1px solid $border-color;
                    border-top-right-radius: $border-radius;
                }
            }
        }
    }
    &__body {
        overflow: hidden;
        padding: 15px;
        border-radius: $border-radius;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid $border-color;
    }
    &__title {
        border-left: 1px solid $border-color;
        border-top: 1px solid $border-color;
        background-color: $gray-light;
        position: relative;
        margin: 0;
        padding: 10px;
        cursor: pointer;
        display: block;
        color: $color-primary;
        &:hover {
            color: $color-primary;
        }
        &:before {
            position: absolute;
            right: 0;
            bottom: -5px;
            left: 0;
            visibility: hidden;
            height: 5px;
            content: "";
            transition: 0s;
            opacity: 0;
            background-color: $color-base;
        }
        &.is-active {
            background-color: $color-base;
            &:before {
                bottom: -3px;
                display: block;
                visibility: visible;
                transition: 0.4s;
                opacity: 1;
            }
        }
    }

}

/*=================================================
* FULL NAV
/*================================================= */

.rt-tab--full-nav {
    .rt-tab {
        &__nav {
            display: flex;
            text-align: center;
            li {
                flex-grow: 1;
            }
        }
    }
}