

/*=================================================
*  TEXT TRANSFORM
=================================================== */

.text-capital {
    text-transform: capitalize;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}


/*=================================================
*  FONT FAMILY
=================================================== */

.font-primary {
    font-family: $font-primary;
}

.font-second {
    font-family: $font-second;
}

/*=================================================
*  TEXT ALIGMENT
=================================================== */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/*=================================================
*  LINE
=================================================== */
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}


/*=================================================
*  Text Color
=================================================== */

.texts-light {
    color: $color-light-second;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $color-light-primary;
        a {
            color: inherit;
            &:hover {
                color: inherit;
            }
        }
    }
    a {
        color: $color-light-second;
    }
    b,
    i,
    p,
    strong {
        color: $color-light-second;
    }
}

.text-light {
    color: $color-light-primary;
}

.text-lighten {
    color: $color-light-second;
}

.text-gray {
    color: $color-light-thirdty;
}

/*=================================================
*  LINK
=================================================== */
.link-text{
  color: $color-second;
  &:hover{
    color: $link-active;
  }
}
