
.rt-menu--horizontal {
    display: none;
    display: flex;
    height: $navbar-lg-height;
    z-index: 99;
}

.rt-menu--horizontal .rt-menu__main {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    .rt-menu__list {
        display: flex;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            list-style: none;
            position: relative;
        }
    }
}

/*=================================================
*  ITEM
=================================================== */

.rt-menu--horizontal .rt-menu__item {
    position: relative;

    a {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 14px;
        padding-left: $navbar-lg-gap;
        padding-right: $navbar-lg-gap;
        color: $navbar-lg-color;
        cursor: pointer;
        z-index: 1;
        position: relative;
    }

    a,
    i {
        transition: 0.1s linear;
    }

    a:before {
        position: absolute;
        z-index: -1;
        height: 3px;
        bottom: 0;
        left: 50%;
        right: 50%;
        visibility: hidden;
        content: '';
        background-color: $color-brand;
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    }

    &.is-active,
    &.current-menu-parent,
    &.current-menu-item,
    &.current_page_item {

        a,
        i {
            color: $color-brand;
        }

        a:before {
            visibility: visible;
            left: 0;
            right: 0;
        }
    }
}

/*=================================================
*  ARROW
=================================================== */

.rt-menu--horizontal .rt-menu__arrow {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    height: inherit;
    align-items: center;
    width: 30px;
    justify-content: center;
    transition: 0.5s linear;

    &.is-active {
        transform: rotate(180deg);
        transform-origin: center;
    }
}

/*=================================================
*  SUBMENU
=================================================== */

.rt-menu--horizontal .rt-menu__submenu {
    display: none;
    z-index: 999;
    border-radius: $border-radius;
    min-width: $navbar-lg-submenu-width;
    background-color: $navbar-lg-submenu-bg;
    position: absolute;
    flex-direction: column;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);

    .rt-menu__item {
        a {
            font-size: 13px;
            height: $navbar-lg-submenu-height;
            line-height: $navbar-lg-submenu-height;
            color: $navbar-lg-submenu-color;
            transition: .3s ease-in;

            &:before {
                display: none;
            }
        }

        i {
            color: $color-base;
        }

        &.is-active {

            a,
            i {
                color: $color-base;
            }

            a {
                margin-left: 7px;
            }
        }
    }

    .rt-menu__submenu {
        top: 0;
    }
}

/*=================================================
*  SUBMENU LEVEL 2
=================================================== */

.rt-menu--horizontal .rt-menu__submenu {
    .rt-menu__submenu {
        left: $navbar-lg-submenu-width;
    }
}

/*=================================================
*  EFFECT HOVER
=================================================== */

.rt-menu--horizontal .rt-menu--linebottom {
    .rt-menu__item:before {
        top: auto;
        height: 5px;
    }
}

.rt-menu--horizontal .rt-menu--linetop {
    .rt-menu__item:before {
        bottom: auto;
        height: 5px;
    }
}

/*=================================================
*  MENU BAR SIMPLE
=================================================== */

.rt-menu--horizontal-simple {
    display: block;

    ul,
    li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }

    li a {
        padding-left: 5px;
        padding-right: 5px;
        color: $color-primary;

        &:hover {
            color: $link-hover;
        }
    }

    /* hidden submenu */
    .sub-menu {
        display: none;
    }
}