.rt-builder.expanded {
    left: 300px !important;

}

.rt-builder {
    z-index: 999;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background: #3B3A3B;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition-property: left, right, top, bottom, width, margin;
    transition-duration: .2s;
}

.rt-builder__header {
    background: #3B3A3B;
    padding: 10px 15px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
}

.rt-builder__title {
    color: #ffffff;
    font-size: 16px;
    margin: 0;
    color: #ECECEC;
}

.rt-builder__display {
    margin-right: -7px;
}

.rt-builder__display a {
    background: #605F61;
    line-height: 25px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    border-radius: 100px;
    margin-right: 7px;
    text-decoration: none !important;
}

.rt-builder__display a.is-active {
    background: #24AEE9;
}

.rt-builder__nav {
    background: #605F61;
    padding: 15px !important;
    padding-bottom: 0 !important;
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
}

.rt-builder__nav li {
    padding: 5px 10px;
    font-size: 14px;
    background: #5D5A5C;
    border: 1px solid #3B3A3B;
    border-right-color: rgb(59, 58, 59);
    border-right-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 0;

}

.rt-builder__nav li a {
    color: #D4D4D4;
    text-decoration: none;
}

.rt-builder__nav li a:focus {
    box-shadow: none;
}

.rt-builder__nav li.is-active,
.rt-builder__nav li.ui-tabs-active,
.rt-builder__nav li:hover {
    background: #828182;
}

.rt-builder__nav li.is-active a,
.rt-builder__nav li.ui-tabs-active a,
.rt-builder__nav li:hover a {
    color: #ffffff;
}

.rt-builder__nav li:first-child {
    border-top-left-radius: 3px;
}

.rt-builder__nav li:last-child {
    border-top-right-radius: 3px;
    border-right-color: #3B3A3B;
}

.rt-builder__body {
    padding: 15px;
}

.rt-builder__row {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.rt-builder__column {
    position: relative;
    padding: 0 7px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
}

.rt-builder__column .js-builder-connect {
    width: 100%;
    background: #F4F3F4;
    min-height: 35px;
    border: 1px solid #D7D6D7;
    border-radius: 3px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    padding: 7px 2px 2px 7px;
}

.rt-builder__column .setting {
    display: none;
    position: absolute;
    top: 0;
    right: 7px;
    background: #24AEE9;
    color: #ffffff;
    width: 23px;
    line-height: 23px;
    text-align: center;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    z-index: 9;
}

.rt-builder__column:hover .js-builder-connect {
    border-color: #24AEE9;
}

.rt-builder__column:hover .setting {
    display: block;
}

.disable .rt-builder__column .sortable-wrapper {
    background: #a1a1a1;
    border: 1px solid #a1a1a1;
}

/* DRAWER */
.rt-builder__column--drawer {
    width: 48%;
}

.rt-builder__column--drawer .sortable-wrapper {
    display: block;
}

.rt-builder__column--drawer-source .sortable-wrapper {
    background: #222222;
    border-color: #111111;
}

.rt-builder .rt-builder-element {
    position: relative;
    font-size: 12px;
    background-color: #605F61;
    line-height: 28px;
    padding: 0 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #ECECEC;
    border-radius: 3px;

}

.rt-builder__notif {
    background-color: #24AEE9;
    color: #fff;
    padding: 10px 15px;
}

.rt-builder__notif a {
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
}

.rt-builder .rt-builder-element::hover {
    z-index: 11;
}

.rt-builder__column--drawer-source .rt-builder-element:hover .p-close {
    display: none !important;
}

.rt-builder .rt-builder-element .p-icon {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: inline-block;
    line-height: 28px;
    width: 28px;
    text-align: center;
    margin-right: 8px;
    background-color: #3B3A3B;
    margin-left: -8px;
    margin-top: -8px;
}

.rt-builder .rt-builder-element .p-close {
    display: none;
    position: absolute;
    width: 20px;
    line-height: 20px;
    background: orange;
    text-align: center;
    top: -10px;
    right: -10px;
    color: #ffffff;
    border-radius: 100px;
    z-index: 999;
    cursor: pointer;
}

.rt-builder .rt-builder-element:hover .p-close {
    display: block;
}

.rt-builder__footer {
    background: #605F61;
    padding: 15px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.rt-builder__device {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    color: #ECECEC;
    margin-left: -5px;
    margin-right: -5px;
}

.rt-builder__device li {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

.rt-builder__device li:before {
    position: absolute;
    height: 3px;
    bottom: 0;
    right: 100px;
    left: 100px;
    content: "";
    background: #24AEE9;
}

.rt-builder__device li.is-active:before {
    visibility: visible;
    right: 0;
    left: 0;
}

.rt-builder__hide {
    color: #ECECEC;
}

.rt-builder__row {
    border: 1px solid transparent;
    border-top-left-radius: 0;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}

.rt-builder__row-title {
    display: none;
    position: absolute;
    left: -1px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #24AEE9;
    color: #ffffff;
    z-index: 9;
    top: -22px;
    font-size: 14px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.rt-builder__row:hover {
    border-color: #24AEE9;
}

.rt-builder__row:hover .rt-builder__row-title {
    display: block;
}

.rt-builder__row--source {
    background: #222222;
    padding: 15px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-top: 15px;
}

.rt-builder__row--source:hover {
    border-color: transparent !important;
}

.rt-builder__row--source .sortable-wrapper {
    background: transparent;
    border-color: transparent;
}

.rt-builder__row--source:hover .sortable-wrapper {
    border-color: transparent;
}

.rt-builder__row--source .rt-builder__column {
    padding: 0;
}

.rt-builder__row--source .rt-builder-element {
    box-shadow: 0px 3px 8px 0px rgba(2, 2, 2, 0.16);
}

.rt-builder__row--source .rt-builder-element:hover .p-close {
    display: none !important;
}

/*=================================================
* SETTING
/*================================================= */

.rt-builder-setting {
    min-width: 340px;
    display: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -127px;
    right: 10px;
    padding: 10px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #ECECEC;
    border: 1px solid #ABABAB;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    z-index: 99;
}

.rt-builder-setting:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #ECECEC;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid #ABABAB;
    border-top-color: transparent;
    border-left-color: transparent;
    bottom: -7px;
    right: 5px;
    position: absolute;
}

.rt-builder-setting__item {
    border: 1px solid #ABABAB;
    background: #ffffff;
    border-radius: 3px;
}

.rt-builder-setting__item:last-child {
    margin-right: 0;
}

.rt-builder-setting__title {
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    color: #ffffff;
    background: #3B3A3B;
    margin: -1px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.rt-builder-setting__body {
    padding: 10px !important;
}

.rt-builder-setting ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rt-builder-setting ul li {
    color: #333333;
    padding: 5px 10px;
    margin-right: 7px;
    background: #ECECEC;
    border: 1px solid #98A4A5;
    border-radius: 3px;
    cursor: pointer;
}

.rt-builder-setting ul li:last-child {
    margin-right: 0;
}

.rt-builder-setting ul li.is-active,
.rt-builder-setting ul li:hover {
    background-color: #24AEE9;
    border-color: #24AEE9;
    color: #ffffff;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.12);
}

.rt-builder-setting__alignment {
    margin-right: 15px;
}

/* Right  column */

.rt-editor__column.right .rt-setting {
    right: 0;
    left: auto;
}

.rt-editor__column.right .rt-setting::before {
    right: 15px !important;
    left: auto !important;
}

/*=================================================
* COLUMN 
/*================================================= */

[data-display=grow] {
    -webkit-flex: 2;
    -moz-box-flex: 2;
    flex: 2;
}

[data-alignment=left]>.sortable-wrapper {
    -webkit-justify-content: left;
    -moz-box-pack: left;
    justify-content: left;
}

[data-alignment=center]>.sortable-wrapper {
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
}

[data-alignment=right]>.sortable-wrapper {
    -webkit-justify-content: right;
    -moz-box-pack: right;
    justify-content: right;
}

[data-alignment=justify]>.sortable-wrapper {
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
}