.rt-widget {
    margin-bottom: 30px;
    font-size: 14px;

    select {
        width: 100%;
    }

    a {
        color: $color-primary;

        &:hover {
            color: $link-hover;
        }
    }
    &__header{
        position: relative;
    }
    &__arrow{
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        &.is-active{
            transform: rotate(180deg);
        }
    }

}


.rt-widget--aside {
    overflow: hidden;
    padding: 15px;
    background: $color-base;
    border: 1px solid $border-color;
    border-radius: $border-radius;

    .rt-widget {
        &__header {
            margin-top: -15px;
            margin-right: -15px;
            margin-bottom: 20px;
            margin-left: -15px;
            padding: 10px 15px;
            border-bottom: 1px solid $border-color;
            background-color: $gray-light;
        }

        &__title {
            margin: 0;
            font-size: 16px;
        }
    }

    .rt-list__arrow {
        &.is-active {
            border: 1px solid $border-color;
            background-color: $gray-light;
            border-radius: 50px;
        }
    }
}


.rt-widget--footer {
    color: $color-light-second;

    a {
        color: $color-light-second;

        &:hover {
            color: $color-light-primary;
        }
    }

    .rt-widget {
        &__header {
            margin-bottom: 20px;
        }

        &__title {
            color: $color-light-primary;
            font-size: 18px;
            line-height: 1.2em;
            margin: 0;
        }
    }

}

/*=================================================
*  WIDGET AUTHOR
=================================================== */
.retheme-widget-author {
    .rt-author-box {
        padding: 0;
    }

    &.rt-widget--aside {
        padding: 0;
        border: none;
    }
}

/*=================================================
*  WIDGET POST TABS
=================================================== */
.retheme-widget-post-tab {
    &.rt-widget--aside {
        padding: 0;
        border: none;
    }
}