.rt-badges,
.at-post__badges {

    position: relative;
    margin-right: -5px;
    text-transform: uppercase;

    a {
        display: inline-block;
        background-color: $badges-background;
        color: $badges-color;
        padding: 5px 10px;
        margin-right: 5px;
        border-radius: $border-radius;
        margin-bottom: 5px;
        line-height: 1;
        font-size: 11px;

        &:hover {
            color: $badges-hover-color;
            background: $badges-hover-background;
        }
    }
}