.rt-header-block {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    &__title {
        margin: 0;
        font-size: 21px;
    }

    &__nav {
        margin-right: -3px;

        a {
            background-color: $color-base;
            display: inline-block;
            border: 1px solid $border-color;
            border-radius: $border-radius;
            margin-right: 3px;
            line-height: 28px;
            width: 28px;
            text-align: center;
            color: $color-third;

            &:hover {
                border-color: $color-brand;
                color: $color-brand;
            }

            &.is-disable,
            &.swiper-button-disabled {
                background-color: $gray-light;
                cursor: default;

                &:hover {
                    border-color: $border-color;
                    color: $color-third;
                }
            }
        }
    }
}

/*=================================================
* HEADER 1
/*================================================= */

.rt-header-block--style-1 {
    position: relative;
    border-bottom: 1px solid $border-color;

    .rt-header-block {
        &__title {
            margin-bottom: -1px;
            padding-bottom: 10px;
            display: inline-block;
            border-bottom: 2px solid $color-brand;
        }
    }
}


/*=================================================
* HEADER 2
/*================================================= */

.rt-header-block--style-2 {
    .rt-header-block {
        &__title {
            border-left: 5px solid $color-brand;
            padding-left: 15px;
        }
    }
}

/*=================================================
* HEADER 3
/*================================================= */

.rt-header-block--style-3 {
    border-bottom: 2px solid $color-brand;

    .rt-header-block {
        &__title {
            margin-bottom: 0;
            color: $color-base;
            display: inline-block;
            background: $color-brand;
            padding: 5px 15px;
        }
    }
}

/*=================================================
* HEADER 4
/*================================================= */
.rt-header-block--style-4 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .rt-header-block {
        &__title {
            text-transform: uppercase;
            background: $color-base;
            display: inline-block;
            border: 2px solid $border-color;
            padding: 10px 20px;
        }

        &__nav {
            position: absolute;
            right: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
        }
    }

    &:before {
        content: '';
        z-index: -1;
        position: absolute;
        height: 2px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        background-color: $border-color;
    }
}