@mixin clearfix() {
	*zoom: 1;

	&::before,
	&::after {
		content: ' ';
		display: table;
	}

	&::after {
		clear: both;
	}
}
/*=================================================
*  GRID MIXIN
=================================================== */
@mixin make-col-offset($size, $columns: $grid-columns) {
    margin-left: percentage($size / $columns);
}
@mixin make-col-push($size, $columns: $grid-columns) {
    left: if($size > 0, percentage($size / $columns), auto);
}
@mixin make-col-pull($size, $columns: $grid-columns) {
    right: if($size > 0, percentage($size / $columns), auto);
}
@mixin make-col-modifier($type, $size, $columns) {
    @if $type==push {
        @include make-col-push($size, $columns);
    }
    @else if $type==pull {
        @include make-col-pull($size, $columns);
    }
    @else if $type==offset {
        @include make-col-offset($size, $columns);
    }
}
