/*=================================================
*  LINK MIXIN
=================================================== */
@mixin link ($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}

@mixin sosmed_item($color, $background) {
  &:hover {
    color: $color;
    border-color: darken($background, 9%);
    background-color: darken($background, 8%);
  }
}
