/*=================================================;
/* IMAGE
/*================================================= */

html {
  overflow-x: hidden;
}

.gutenberg-support.single-post .page-wrapper .page-container {
  @include media-min(sm) {
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
  }
}

@include media-min(sm) {
  .gutenberg-support.single-post .page-wrapper .page-container {
    .alignfull {
      margin-left: calc(50% - 50vw) !important;
      margin-right: calc(50% - 50vw) !important;
      width: auto;
      max-width: 1000%;
    }
    .alignwide {
      margin-left: calc(10% - 10vw) !important;
      margin-right: calc(10% - 10vw) !important;
      width: auto;
      max-width: 1000%;
    }
    .alignwide img,
    .alignfull img {
      display: block;
      margin: 0 auto;
    }
  }
}

.gutenberg-support .wp-block-gallery {
  margin-left: 0 !important;
}

figure.wp-block-image {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  figcaption {
    font-size: 13px;
  }
}
