/*=================================================;
/* PRODUCT LIST
/*================================================= */
.rt-cart-item {
    display: flex;
    border-bottom: 1px solid $border-color;
    flex-flow: row wrap;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    &:last-child {
        border-bottom: none;
    }

    &__body {
        text-align: left !important;
        flex: 1;
    }

    &__thumbnail {
        width: 60px;
        margin-right: 10px;
       
    }


    &__title {
        margin-top: 0;
        margin-bottom: 3px;
        font-size: 14px;
        line-height: 1.3em;
    }

    &__meta {
        font-size: 11px;
        line-height: 1;
        margin-bottom: 3px;
    }

    &__remove,
    .remove {
        position: absolute;
        left: -5px;
        top: 0px;
        text-align: center;
        width: 15px;
        display: inline-block;
        font-size: 14px;
        line-height: 15px;
        background-color: #E6E6E6;
        color: #666;
        border-radius: 100px;
        z-index: 9;
        cursor: pointer;

        &:hover {
            background-color: $gray-dark;
            color: $gray-light;
        }
    }

    .quantity {
        position: absolute !important;
        right: 0;
        top: 2px;
    }

    &__price {
        font-size: 14px;
        margin-left: -5px;
    }
}


// small device
@include media-min(md){
    .rt-cart-item{
        &__body{
            padding-right: 100px;
        }
        &__price{
            position: absolute;
            right: 0;
            top: 10px;
        }
    }
}