.woocommerce-MyAccount-navigation {
  margin-bottom: 20px;

  ul {
    font-size: 14px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border: none;
    }

    &.is-active a {
      background-color: $gray-light;

      &:hover {
        background-color: $color-brand;
        color: $color-base;
      }
    }
  }

  a {
    color: $color-second;
    padding: 8px 15px;
    display: block;

    &:hover {
      background-color: $color-brand;
      color: $color-base;
    }
  }

  // on mobile menu
  @include media(sm) {
    ul {
      display: flex;
      overflow: auto;

      white-space: nowrap;
    }
  }
}

.woocommerce-account .woocommerce-MyAccount-content form {
  @include media-min(lg) {
    width: 70%;
    float: left;
  }
}

/*=================================================
*  DETAIL
=================================================== */
.woocommerce .fieldset {
  border: none;
  padding: 0;

  legend {
    display: none;
  }
}

.woocommerce .order_details {
  tfoot {
    td {
      text-align: right;
    }
  }
}

.shop_table.order_details {
  .button,
  .rt-btn {
    font-size: 12px;
    padding: 4px 6px;
  }
}


/*=================================================
*  ADDRESS
=================================================== */
.woocommerce .woocommerce-Addresses.u-column1,
.woocommerce .woocommerce-Addresses.u-column2 {
  width: 100%;
}

/*=================================================
*  LOGIN REGISTER
=================================================== */
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  border-radius: $border-radius;
  border: 1px solid $border-color;
  margin-top: 10px;
  border-color: transparent;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  padding: 0;
}
