/*=================================================;
/* COUPON & REGISTER
/*================================================= */

.woocommerce-form-login-toggle,
.woocommerce-form-coupon-toggle {
  .woocommerce-info {
    border: none;
    background-color: transparent;
    color: $color-second;
    padding: 0;

    &:before {
      display: none;
    }
  }
}

.woocommerce-checkout .woocommerce-form-login {
  border: 1px solid $border-color !important;
  border-radius: $border-radius;
  width: 100%;

  @include media-min(lg) {
    width: 49%;
  }
}
.woocommerce-checkout .showlogin {
  color: $color-brand;
}

/*=================================================;
/* BILLING DETAIL
/*================================================= */
.wc-checkout-billing {
  margin-bottom: 30px;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
  width: 49%;

  @include media(sm) {
    width: 100%;
  }
}

.woocommerce-additional-fields h3 {
  display: none;
}

/*=================================================;
/* SHIPPING
/*================================================= */
#ship-to-different-address {
  margin-left: 3px;
  h3 {
    font-size: 1rem;
  }
  input {
    margin-right: 7px;
  }
}
/*=================================================;
/* ORDER REVIEW
/*================================================= */

.woocommerce-checkout-review-order-table td {
  text-align: right;
}

.woocommerce-checkout-review-order {
  background-color: $gray-light;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 15px;
}

/*=================================================;
/* ORDER TABLE
/*================================================= 
* @desc coloun right */

.shop_table.woocommerce-checkout-review-order-table {
  background-color: $color-base;
  thead {
    background-color: $color-base;
  }
  td:last-child {
    text-align: right;
  }
}

/*=================================================
*  PAYMENT
=================================================== */

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background-color: transparent;
}

/* payment box */

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
  background-color: $color-base;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

/* retagle */

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
  border-bottom-color: $border-color;
  top: em(-13px);
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
  border-color: $border-color;
  padding-top: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*=================================================
*  CHECKOUT LOGIN
=================================================== */
.woocommerce-form-login-toggle {
  margin-bottom: 5px;

  .woocommerce-info {
    margin-bottom: 10px;
  }
}

.woocommerce-checkout .page-content .woocommerce form.login,
.woocommerce-checkout .page-content .woocommerce form.register {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  width: 100%;

  @include media-min(lg) {
    width: 49%;
  }

  @include media(sm) {
    .rt-btn {
      width: 100%;
    }
  }
}

/*=================================================
*  CHECKOUT COUPON
=================================================== */
.woocommerce form.checkout_coupon {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  width: 100%;

  @include media-min(lg) {
    width: 49%;
  }

  @include media(sm) {
    .input-text {
      margin-bottom: 10px;
    }

    .rt-btn {
      width: 100%;
      border-radius: $border-radius !important;
    }
  }
}

.woocommerce-form-coupon-toggle {
  .woocommerce-info {
    margin-bottom: 15px;
  }
}

// Modal kupon
// move kupon on modal
.rt-coupon-modal-action {
  padding: 15px;
  border: 3px dashed $border-color;
  margin: 20px;
  text-align: center;
  @include media(sm) {
    margin-left: 0;
    margin-right: 0;
  }
}

.rt-coupon-modal {
  .checkout_coupon {
    border: none !important;
    display: block !important;
    width: 100% !important;
  }

  .rt-form__input {
    margin-bottom: 15px;
  }
}

/*=================================================
* THANK
/*================================================= */
.template--focus.woocommerce-checkout {
  .woocommerce-order {
    @media only screen and (min-width: 559px) {
      width: 590px;
      margin: 0 auto;
    }
  }
}
.wc-bacs-bank-details-heading {
  font-size: map-get($font-sizes, "h4");
  margin-bottom: em(15px);

  @include media(sm) {
    font-size: map-get($font-sizes-sm, "h4");
    margin-bottom: em(10px);
  }

  margin-bottom: -10px;
}

.woocommerce-order-details__title {
  font-size: map-get($font-sizes, "h4");
  margin-bottom: em(15px);

  @include media(sm) {
    font-size: map-get($font-sizes-sm, "h4");
    margin-bottom: em(10px);
  }
}

.wc-bacs-bank-details-account-name {
  padding: 10px 15px;
  border: 1px solid #ebebeb;
  background-color: #fafafa;
  font-size: 1rem;
  line-height: $line-height;
  margin-bottom: 0;
}

.wc-bacs-bank-details {
  padding: 0;
  border: 1px solid #ebebeb;
  display: block;
}

/* List order bank detail */

.woocommerce ul.order_details {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 0;
  margin-bottom: 20px !important;
}

.woocommerce ul.order_details li {
  float: none !important;
  margin-right: 0;
  text-transform: none;
  font-size: 1rem;
  line-height: $line-height;
  border-right: none;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  border-bottom: 1px solid #ebebeb;
  padding: 6px 12px;
}

.woocommerce ul.order_details li strong {
  display: block;
  font-size: 1rem;
  line-height: $line-height;
  text-transform: none;
  margin-left: 10px;
  font-weight: $font-weight;
}

.woocommerce .woocommerce-customer-details address {
  border-color: $border-color;
  border-radius: $border-radius;
}

/*=================================================;
/*  PLACEOLDER
/*================================================= */

.page-template-template-focus .place-order.form-row {
  padding: 0 !important;
}

.page-template-template-focus
  .select2-container--default.select2-container--disabled
  .select2-selection--single {
  background-color: $color-base;
}

/*=================================================;
/* FORM CHECKOUT
/*================================================= */
.woocommerce-js.template--focus{
  .rt-form {
    margin-bottom: 8px !important;

    label {
      position: absolute;
      top: 13px;
      left: 14px;
      transition: 0.2s linear;
      color: $color-third !important;
      font-weight: 400;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
    }

     // select 
  select,
select option{
    height: 45px !important;
}

    .input-text {
      color: $color-second;
      height: 45px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .input-text::placeholder {
      color: transparent;
    }

    &.is-active {
      label {
        font-size: rem(11px);
        line-height: 1;
        top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        left: 9px;
        z-index: 1;
      }

      .input-text {
        padding-top: 1.5em;
        padding-bottom: 0.35714em;
      }
    }
  }

  // Select 2
  .select2-container .select2-selection--single,
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 45px !important;
  }

  .select2-container .select2-selection--single,
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow,
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    height: 45px !important;
    line-height: 58px !important;
    font-size: 14px;
  }

  // Biling Field
  .woocommerce-billing-fields__field-wrapper,
  .woocommerce-shipping-fields__field-wrapper {
    @include media-min(xs) {
      display: flex;
      flex-flow: row wrap;

      p {
        width: 100%;
      }
    }
  }

  // address
  #billing_country_field,
  #billing_city_field,
  #billing_state_field,
  #shipping_country_field,
  #shipping_city_field,
  #shipping_state_field {
    label {
      color: $color-third !important;
      font-size: rem(11px);
      line-height: 1;
      top: 10px;
      padding-left: 5px;
      padding-right: 5px;
      left: 9px;
      z-index: 1;
    }

    .input-text {
      padding-top: 1.5em;
      padding-bottom: 0.35714em;
    }
  }

  // field column
  @include media-min(sm) {
    #billing_first_name_field,
    #billing_last_name_field,
    #shipping_first_name_field,
    #shipping_last_name_field,
    #billing_state_field,
    #shipping_state_field,
    #billing_city_field,
    #shipping_city_field,
    #billing_district_field,
    #shipping_district_field{
      flex: 1;
    }
  }

  // default shipping if only one country
  #billing_country_field strong,
  #shipping_country_field strong {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    padding: 8px 15px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    color: $color-second;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 3;
    background-color: $gray-light;
    cursor: no-drop;
  }

}
