h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight;
}
/*=================================================;
/* HEADER - MAIN
/*================================================= */
.rt-header__main {
  border: none;
}
/*=================================================;
/* LAYOUT - HEADER - TITLE
/*================================================= */
.page-header {
  padding: 60px 0;
  background-color: $color-base;
  border: none;
  &__title {
    font-size: rem(47px);
    @include media(md) {
      font-size: 37px;
    }

    margin-bottom: 15px;
  }
  &__desc {
    margin-bottom: 15px;
  }
}
/*=================================================;
/* LAYOUT - HEADER - MAIN
/*================================================= */
.rt-header__main,
.rt-menu--horizontal {
  height: 80px;
}

/*=================================================;
/* LAYOUT - CONTENT
/*================================================= */
.page-content {
  @include media(md) {
    margin-bottom: 30px;
  }
}
/*=================================================;
/* LAYOUT - FOOTER - TOP
/*================================================= */
.page-footer {
  &__widget {
    background-color: #030303;
    padding-top: 60px;
  }
}
/*=================================================;
/* LAYOUT - FOOTER - BOTTOM
/*================================================= */
.page-footer {
  &__bottom {
    background-color: #030303;
    border-top: 1px solid rgba($color-base, 0.1);
    padding: 25px 0;
  }
}

/*=================================================;
/* WIDGETS - SIDEBAR
/*================================================= */
.rt-widget--aside {
  border: none;
  padding: 0;
  margin-bottom: 30px;

  .rt-widget {
    &__header {
      background: transparent;
      border: none;
      border-bottom: 2px solid $border-color;
      padding: 0;
      margin: 0;
      margin-bottom: 15px;
    }

    &__title {
      font-size: 21px;
      margin-bottom: 20px;
      font-weight: $font-weight;
    }
  }
}

/*=================================================;
/* WIDGETS - FOOTER
/*================================================= */
.rt-widget--footer {
  .rt-widget {
    &__title {
      color: $color-base;
      font-size: 21px;
    }
  }
}
/*=================================================;
/* ELEMENT - SEARCH - MAIN
/*================================================= */
.rt-search--modal {
  background-color: rgb(0, 0, 0);
}
/*=================================================;
/* POST
/*================================================= */
.rt-post,
.at-post {
  &__thumbnail {
    margin-bottom: 20px;
  }
  &__title {
    font-size: rem(23px);
    line-height: 1.2;
  }
  &__content {
    font-size: rem(16px);
    margin-bottom: 20px;
  }

  .rt-badges,
  .rt-post__badges {
    left: 10px;
    top: 10px;
  }
}
.rt-post--list {
  .rt-post,
  .at-post {
    &__thumbnail {
      width: 100%;

      @include media-min(lg) {
        width: 370px;
        margin-bottom: 0;
      }
    }

    &__body {
      @include media-min(lg) {
        padding-left: 30px;
      }
    }
  }
}

.rt-pagination__button.rt-btn {
  border: 1px solid $color-brand;
  color: $color-brand;
  background-color: $color-base;
  min-width: 30%;
  &:hover {
    background: $color-brand;
    color: $color-base;
  }
}
/*=================================================;
/* ELEMENT - COMMENT
/*================================================= */
.rt-comment {
  background-color: $gray-light;
  padding: 30px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

/*=================================================;
/* ELEMENT - COMMENT - LIST
/*================================================= */
.rt-comment-list {
  li {
    background-color: $color-base;
    padding: 20px 30px;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    margin-bottom: 20px;
  }
  &__list {
    margin-bottom: 0;
  }
  &__content {
    padding: 0;
    border: none;
  }

  &__reply {
    border-radius: $border-radius;
    bottom: -15px;
    right: 0;
  }
  &__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__author {
    top: -2px;
    position: relative;
    background-color: $color-success;
  }
}
/*=================================================;
/* ELEMENT - IMAGE
/*================================================= */
.wp-post-image,
figure img,
.at-post--tiles,
.rt-slider__item {
  border-radius: $border-radius !important;
  overflow: hidden;
}

/*=================================================;
/* ELEMENT - PROFILE
/*================================================= */
.rt-profile {
  background-color: $gray-light;
  padding: 20px 30px;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  &__title {
    margin-bottom: 10px;
  }
}
/*=================================================;
/* ELEMENT - BADGES
/*================================================= */
.rt-badges,
.at-post__badges {
  a {
    padding: 6px 10px;
  }
}

/*=================================================;
/* MENU - SUBMENU
/*================================================= */
.rt-menu--horizontal {
  .rt-menu__submenu {
    background-color: $color-base;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
    margin-top: -10px !important;
    .rt-menu__item {
      a {
        color: $color-primary;
        border-bottom: 1px solid $border-color;
        cursor: pointer !important;
        font-weight: 400;
        transition: 0.3s;
      }
      &:last-child {
        a {
          border: none;
        }
      }
      &.is-active a {
        color: $color-primary;
        background-color: $gray-light;
        margin-left: 0;
      }
    }
  }
}

/*=================================================;
/* MOBILE MENU
/*================================================= */
.rt-main-canvas-menu--dark {
  background-color: #000000;
  .rt-menu__submenu {
    background-color: lighten(#000000, 7%);
  }
  .rt-menu__arrow {
    background-color: lighten(#030303, 7%);
  }
}

/*=================================================;
/* HEADER BLOCK
/*================================================= */
.rt-header-block__title {
  font-size: rem(28px);
}

/*=================================================;
/* SINGLE - BLOCKQUTE
/*================================================= */
blockquote {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1.4rem;
  padding: 25px 30px;
  margin: 30px 0;
  border-top: 2px dashed $border-color;
  border-bottom: 2px dashed $border-color;
  @include media(sm) {
    font-size: 18px;
    padding: 20px 15px;
    text-align: left;
  }
  &:before {
    top: 50%;
    // left: 50%;
    color: $gray-light;
    font-size: 95px;
    transform: translateY(-50%);
    z-index: -1;
  }
}
/*=================================================;
/* SINGLE - CONTENT
/*================================================= */
.rt-single {
  &__content {
    padding-bottom: 25px;
  }
  &__meta {
    font-size: rem(16px);
  }
}

/*=================================================;
/* SINGLE - NAV
/*================================================= */
.rt-single-nav {
  border: none;
  padding: 0;
  margin-bottom: 30px;
  &__title {
    font-size: 16px;
    font-weight: $font-weight;
    line-height: 1.2;
    margin-bottom: 10px;
    &:hover {
      color: $link-hover;
    }
  }

  &__name {
    font-size: 14px;
    text-transform: none;
    color: $color-third;
  }
  &__item {
    display: flex;
    @include media(sm) {
      flex-flow: column;
    }
  }
  &__thumbnail {
    width: 70px;
    border-radius: 100px;
    overflow: hidden;
  }
  @include media-min(sm) {
    &__body {
      flex: 1;
    }
    &__prev {
      .rt-single-nav__thumbnail {
        margin-right: 15px;
      }
    }
    &__next {
      flex-direction: row-reverse;
      .rt-single-nav__thumbnail {
        margin-left: 15px;
      }
    }
  }
}

/*=================================================;
/* SINGLE - TAGS
/*================================================= */
.rt-tag {
  &__item {
    display: inline-block;
    background-color: $gray-light;
    border: 1px solid $border-color;
    border-radius: 100px;
    color: $color-second;
    padding: 4px 10px;
    line-height: 1;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 13px;
  }
}

/*=================================================;
/* SINGLE - SHARE
/*================================================= */
.rt-share {
  .rt-socmed {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
    @include media(sm) {
      flex-direction: column;
    }
    &__item {
      margin: 0 5px;
      flex: 1;
      display: flex;
      justify-content: center;
      padding: 9px 12px;
      font-weight: bold;
      font-size: 16px;
      line-height: 1;
      @include media(sm) {
        margin-bottom: 10px;
      }
    }
  }
}

/*=================================================;
/* SINGLE - RELATED
/*================================================= */
.rt-post-related {
  .rt-post {
    &__title {
      font-size: 18px;
    }
  }
}
/*=================================================;
/* ELEMENT - GO TOP
/*================================================= */
.rt-gotop {
  border-radius: $border-radius;
}
/*=================================================;
/* GUTENBERG SUPPORT
/*================================================= */
.wp-block-gallery {
  margin: 25px 0;
}

/*=================================================;
/* LOGO
/*================================================= */
.rt-logo {
  width: 200px;
}

/*=================================================;
/* PAGINATION
/*================================================= */
.rt-pagination {
  .page-numbers {
    min-width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }
}

/*=================================================;
/* SLIDER
/*================================================= */
.rt-slider {
  .owl-nav button {
    border-radius: $border-radius;
  }
}

/*=================================================;
/* TABS
/*================================================= */
.rt-tab {
  &__title {
    font-size: 16px;
  }
}
